@media (max-width: 985px) {
    img{
        width: 100%;
    }
}

@media print{
    img{
        display:none;
    }
    h2 {
        color: red;
    }
}

.tagExemplo{

    margin-left: 50px;

}

.container{

    margin: auto;
    max-width: 960px;
}

p{
    text-indent: 50px;
}

#img{
    
    height: 50%;

}

pre{
    background-color: #f1f1f1;
}

figure{
    margin: 0;
    padding: 0;
}

legend{
    font-size: 10px;
    text-align: center;
}

body{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}