@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
}

:root{
	--nao-metal:rgb(237, 243, 221);
	--gas-nobre:rgb(194, 69, 38);
	--metal-alcalino:rgb(180, 100, 245);
	--metal-alcalino-terroso:rgb(35, 101, 245);
	--semimetal:rgb(200, 110, 110);
	--halogenio:rgb(238, 170, 255);
	--outros-metais:rgb(40, 112, 112);
	--metal-transicao:rgb(35, 190, 35);
	--lantanideo:rgb(229, 233, 10);
	--actinidio:rgb(255, 0, 191);
	--bg:rgb(29, 31, 41);
}

table {
    min-width: 800px;
    margin: 30px auto;
    border-collapse: collapse;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .25);
}

body{
    background-color: var(--bg)
}

caption {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: 200;
    color: white;
}

caption span {
    font-weight: 700;
}

thead {
    background-color: black;
    color: yellow;
    position: sticky;
    top: 0;
}

th, td {
    padding: 15px 8px;
    text-align: center;
    font-weight: bold;
}

tbody > tr:nth-child(even) {
    background-color: #f1f1f1;
}

tbody > tr:nth-child(odd) {
    background-color: #ceccd1;
}

tbody{

    margin-top:51px;
}

tbody tr:last-of-type {
    border-bottom: solid 2px #e10600;
}

tfoot {
    display: none;
}

/*Legenda*/
.container{
    display: flex;
    background:rgba(0, 0, 0, 0.459);
    backdrop-filter: blur(10px);
    flex-direction: column;
    width: 300px;
    min-height: 250px;
    border-radius: 10px;
    text-align: center;
    position: fixed;
    z-index: 500;
    left: 10rem;
    top: calc(50vh - (450px/2));
    gap: 2rem;
    padding: 1rem;
    text-transform: uppercase;
}

/*Quadradinho da legenda*/
.container > div > p::before{
    content:' ';
	display:inline-block;
	width:1em;
	height:1em;
	border:.125em solid;
	border-radius:.125rem;	
	margin-right:.5em;
	position:relative;
	top:.25em;
}

/*LEGNDA LATERAL*/
.nao-metal-legenda{
    color: var(--nao-metal);
}
.gas-nobre-legenda{
    color: var(--gas-nobre); 
}

.metal-acalino-legenda{
    color: var(--metal-alcalino); 
}

.metal-acalino-terroso-legenda{
    color: var(--metal-alcalino-terroso);
}

.semimetal-legenda{
    color: var(--semimetal);
}

.halogenio-legenda{
    color: var(--halogenio);
}

.outros-metais-legenda{
    color: var(--outros-metais);
}

.metal-transicao-legenda{
    color: var(--metal-transicao);
}

.lantanideo-legenda{
    color: var(--lantanideo);
}

.actinidio-legenda{
    color: var(--actinidio);
}

/* Efeito "mouse_over" na tabela */
.nao-metal:hover{
    background-color: black;
    color: var(--nao-metal);
    text-transform: uppercase;
}

.gas-nobre:hover{
    background-color: black;
    color: var(--gas-nobre);
    text-transform: uppercase;
}

.metal-alcalino:hover{
    background-color: black;
    color: var(--metal-alcalino);
    text-transform: uppercase;
}

.metal-alcalino-terroso:hover{
    background-color: black;
    color:var(--metal-alcalino-terroso);
    text-transform: uppercase;
}

.semi-metal:hover{
    background-color: black;
    color: var(--semimetal);
    text-transform: uppercase;
}

.halogenio:hover{
    background-color:black;
    color: var(--halogenio);
    text-transform: uppercase;
}

.outros-metais:hover{
    background-color: black;
    color: var(--outros-metais);
    text-transform: uppercase;
}

.metal-transicao:hover{
    background-color: black;
    color:var(--metal-transicao);
    text-transform: uppercase;
}

.lantanideo:hover{
    background-color: black;
    color: var(--lantanideo);
    text-transform: uppercase;
}

.actinidio:hover{
    background-color: black;
    color: var(--actinidio);
    text-transform: uppercase;
}