/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ecf0f3;
}

.wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo {
    width: 80px;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f,
        0px 0px 0px 5px #ecf0f3,
        8px 8px 15px #a7aaa7,
        -8px -8px 15px #fff;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
    color: #555;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #039BE5;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}

.wrapper a:hover {
    color: #039BE5;
}

.nav-link active{
    cursor: pointer;
    font-weight: bold;
}

.neo-section{
    min-height: 51.5rem;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 30px;
    position: relative;
    flex: 1;
}

.wm{
    width: 30%;
    float: left;
    position: relative;
    left: 31rem;
}

.neo-container{
    max-width: 1280px;
    padding: 2% 2%;
    margin: 0 auto;
    margin-top: 11rem;
    margin-bottom: 5.5rem;
}

.clear{clear: both;}

.center{text-align: center;}

.sombra{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0.7);
    
}

.neo-section > .neo-container{

    z-index: 105;
    position: relative;
}

.home-h1{
    color:white;
    font-size: 4em;
    font-family: 'Ubuntu';
    font-weight: bold;
    padding-bottom: 10px;
}

.homebtn{
    width: 280px;
    color: #fff;
    border-radius: 10px;
    border: 3px solid #4f2cec;
    padding-inline: 7rem;
    padding-block: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
}

.homebtn:hover{
    color: #039BE5;
    background-color: rgba(0,0,0,0.4);
    border: 3px solid #039BE5;
    text-align: center;
}

.rodape{
    color: black;
    background-color: white;
    font-size: 1.25em;
    padding: 15px;
    text-align: center;
}

/*Pagina de Hospedes*/

.cadastro{

    margin-top: 3rem;
    margin-left: 3rem;
    gap: 6rem;
    width: 50%;
}

.hospede-esquerda{
    display: flex;
    gap: 3rem;
}

.btn-cadastro{
    
    margin-top: 2rem;
}



/*Pagina RESERVAS*/

.esquerda{
    width: 50%;
    padding-left: 2rem;
    margin-top: 4rem;
}

.direita{
    height: 52rem;
    width: 50%;
    padding-right: 2rem;
    margin-top: 4rem;
}


@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}
/*--------------------*/
.h-100vh{

    height: 100vh;
}

.h-100{

    height: 100%;
}