<!DOCTYPE html>
<html class="h-100vh" lang="pt-BR" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="..//css/style.css">
    <script defer src="../js/auth.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <title>SGH - Cadasto de Quarto</title>
    <meta name="author" content="Bruno Abbehusen">
</head>
<body class="d-flex flex-column h-100">
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="./home.html">
              <img src="../images/H_logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
              S.V.G
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="./home.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="./reservas.html">Reservas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="./hospede.html">Hospedes</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Admin
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="./cadastrarcama.html">Cadastrar Cama</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="./cadastraritem.html">Cadastrar Item</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="./cadastrarquarto.html">Cadastrar Quarto</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="./deletarhospede.html">Remover Hospede</a></li>
                  </ul>
                </li>
              </ul>
              <div>
                <a class="btn btn-outline-danger" href="./login.html">Sair</a>
              </div>
            </div>
          </div>
        </nav>
      </header>
    <section class="neo-section" style="background-image:url('../images/background.jpg');">

        <h1 class="implementação">Em implementação</h1>
    </section>

    <footer class="rodape position-relative bottom-0">Todos os diretos reservados - 2022 &copy;</footer>
</body>
</html>