<!DOCTYPE html>
<html lang="pt-BR" class="h-100vh" xmlns:th="http://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
  <script defer src="../js/auth.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script defer src="../js/reservas.js"></script>
  <title>SGH - Reservas</title>
  <meta name="author" content="Bruno Abbehusen">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="./home.html">
          <img src="../images/H_logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
          S.V.G
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./home.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./reservas.html">Reservas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./hospede.html">Hospedes</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="./cadastrarcama.html">Cadastrar Cama</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="./cadastraritem.html">Cadastrar Item</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="./cadastrarquarto.html">Cadastrar Quarto</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="./deletarhospede.html">Remover Hospede</a></li>
              </ul>
            </li>
          </ul>
          <div>
            <a class="btn btn-outline-danger" href="./login.html">Sair</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main class="d-flex gap-5 h-100">
    <section class="esquerda">
      <h1 class="mb-3">Hóspedes</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Reserva</th>
            <th scope="col">Nome</th>
            <th scope="col">Veiculo</th>
            <th scope="col">Número da Cama</th>
          </tr>
        </thead>
        <tbody id="listaDeReservas">
        </tbody>
      </table>
    </section>
    <section class="direita">
      <form class="row g-3">
        <h1>Reserva</h1>
        <div class="col-3">
          <label for="inputCama" class="form-label">Numero da Cama</label>
          <input type="text" class="form-control" id="inputCama" readonly>
        </div>
        <div class="row g-3">
          <div class="col-4">
            <label for="inputValorDaCama" class="form-label">Valor da cama</label>
            <div class="input-group">
              <span class="input-group-text">R$</span>
              <input type="text" class="form-control" id="inputValorDaCama" readonly>
            </div>
          </div>
          <div class="col-4">
            <label for="inputValorTotal" class="form-label">Valor TOTAL</label>
            <div class="input-group">
              <span span class="input-group-text">R$</span>
              <input type="text" class="form-control" id="inputTotal" readonly>
            </div>
          </div>
        </div>
        <div class="bg-dark bg-opacity-25 p-3 rounded-2">
          <h2>Itens Consumidos</h2>
          <ul class="m-0 p-0 row gy-2" id="itensConsumidos" readonly>
          </ul>
        </div>
        <fieldset class="row gap-5 mt-4">
          <div class="col-md-4">
            <legend>Hospede</legend>
            <input type="hidden" id="hospedeId">
            <div>
              <label for="inputnomecompleto" class="form-label">Nome Completo</label>
              <input type="text" class="form-control" id="inputNomeCompleto" readonly>
            </div>
          </div>
          <fieldset class="col-md-2">

            <legend>Veiculo</legend>

            <input type="hidden" id="veiculoId">

            <div>
              <label for="inputVeiculo" class="form-label">Placa</label>
              <input type="text" class="form-control" id="inputPlaca" readonly>
            </div>
          </fieldset>
        </fieldset>
      </form>
      <div class="mt-5 d-flex justify-content-end">
        <button class="btn btn-outline-danger" id="btn-checkout">
          Fazer Checkout
        </button>
      </div>
    </section>
  </main>

  <footer class="rodape">Todos os diretos reservados - 2022 &copy;</footer>
</body>

</html>